:root {
  font-family: Roboto, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  --color-button-main: #f4c550;
  --color-botton-second: #fbe9ba;
  --color-main-text: #121417;
  --color-fiolet: #9fbaae;
  --color-one: #cbded3;
  --color-two: #9fb7ce;
  --color-three: #bfd6ea;
  --color-four: #e0a39a;
  --color-five: #f2c0bd;
  --color-six: #f0aa8d;
  --color-seven: #f4c8ba;
}
body {
  margin: 0;
}
a {
  text-decoration: none;
}

h1 {
  font-weight: 500;
  font-size: 80px;
  line-height: 1;
}

h1,
h2,
h3,
h4,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}
img {
  display: block;
}
button {
  font-family: inherit;
  cursor: pointer;
}
.container {
  max-width: 100%;
  margin: 0 auto;
  padding: 0 64px;
}
.container-modal {
  max-width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}
.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

@media screen and (max-width: 375px) {
  .container {
    max-width: 375px;
  }
  .container-modal {
    max-width: 335px;
  }
}
/* mobile */
@media screen and (min-width: 375px) {
  .container {
    width: 375px;
  }
  .container-modal {
    width: 335px;
  }
}

/* tablet */

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
    padding: 0 64px;
  }
}
/* десктоп */

@media screen and (min-width: 1440px) {
  .container {
    width: 1440px;
    padding: 0 64px;
  }
  .container-modal {
    width: 1000px;
  }
}
